.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
}

.row1 {
    justify-content: space-between;
}

.row2 {
    justify-content: center;
    gap: 20px; /* 控制两个div之间的距离 */
}

.box {
    width: 100px;
    height: 100px;
    background: skyblue;
    text-align: center;
    line-height: 100px;
}